<div class="fields">
  <div class="col-md-2">
    <%= f.hidden_field :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :username, { include_blank: true}) %>
  </div>
  <div class="col-md-2">
    <%= f.hidden_field :role_id %>
    <%= f.collection_select(:role_id, Role.all, :id, :name, { include_blank: true }) %>
  </div>
  <div class="col-md-8">
    <%= link_to_remove_fields 'remover', f, :class => "link_to_remove_fields btn btn-danger" %>
  </div>
</div>
